html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  color: #FFF;
  font-family: "SegoeUI", sans-serif;
}

h1 {
  font-family: "SegoeUI-Light", sans-serif;
  font-weight: lighter;
  line-height: 1.75rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3rem;
    line-height: 3.65rem;
  }
}

p {
  color: rgba(255, 255, 255, 0.87);
  opacity: 0.7;
  line-height: 1.5rem;
}
@media screen and (min-width: 1280px) {
  p {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

.sr-only {
  display: block;
  width: 1px;
  height: 1px;
  visibility: hidden;
  overflow: hidden;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../assets/Segoe/Regular.woff") format("woff");
}
@font-face {
  font-family: "SegoeUI-Light";
  src: url("../assets/Segoe/Light.woff") format("woff");
}
@font-face {
  font-family: "SegoeUI-Bold";
  src: url("../assets/Segoe/Bold.woff") format("woff");
}
.social {
  position: absolute;
  right: 40px;
  top: 40px;
  display: none;
}
@media screen and (min-width: 600px) {
  .social {
    display: block;
  }
}

.social__icon {
  display: inline-block;
  width: 25px;
  margin-left: 20px;
}

.social__icon--path {
  transition: fill 0.4s;
  fill: #FFF;
}
.social__icon--path:hover {
  fill: #bfbfbf;
}

.showcase {
  height: 100%;
  padding: 0 20px;
  text-align: center;
  background: #30448b;
  background: linear-gradient(155deg, #162e50 0%, #30448b 40%, #4866c1 80%, #517dd8 100%);
}
@media screen and (min-width: 600px) {
  .showcase {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background: linear-gradient(90deg, #162e50 0%, #4866c1 100%);
    background: linear-gradient(to right, #162e50 0%, #30448b 60%, #4866c1 100%);
  }
}
@media screen and (min-width: 600px) and (min-width: 768px) {
  .showcase {
    padding-top: 74px;
  }
}
@media screen and (min-width: 992px) and (min-width: 768px) {
  .showcase {
    max-height: 760px;
  }
}

.showcase__image--desktop {
  display: none;
}
@media screen and (min-width: 600px) {
  .showcase__image--desktop {
    display: block;
    max-width: 30vw;
  }
}
@media screen and (min-width: 992px) {
  .showcase__image--desktop {
    display: block;
    max-width: unset;
  }
}
.showcase__image--mobile {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .showcase__image--mobile {
    display: none;
  }
}

.showcase__content {
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .showcase__content {
    max-width: 600px;
    margin: 0;
    margin-left: 8vw;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .showcase__content {
    margin-left: 167px;
  }
}

.showcase__logo {
  width: 132px;
  margin: 40px auto 20px auto;
}
@media screen and (min-width: 600px) {
  .showcase__logo {
    margin-top: 60px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 600px) and (min-height: 768px) {
  .showcase__logo {
    margin-top: 90px;
  }
}

.showcase__form {
  display: flex;
  height: 45px;
  max-width: 280px;
  margin: 26px auto 0 auto;
}
@media screen and (min-width: 600px) {
  .showcase__form {
    margin-left: 0;
  }
}
@media screen and (min-width: 992px) {
  .showcase__form {
    margin-top: 48px;
    max-width: 420px;
    height: 55px;
  }
}

.showcase__form--input {
  transition: background-color 0.4s;
  display: block;
  width: 75%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  outline: none;
  height: 100%;
  padding: 0;
  padding-left: 20px;
  overflow: hidden;
  color: #9fa3a7;
  font-family: "SegoeUI", sans-serif;
  font-size: 1em;
}
.showcase__form--input:focus {
  background-color: #9fa3a7;
  color: white;
}
@media screen and (min-width: 992px) {
  .showcase__form--input {
    font-size: 1.25em;
  }
}

.showcase__form--btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  min-width: 92px;
  background-color: #f05638;
  color: #FFF;
  font-family: "SegoeUI-Bold", sans-serif;
  letter-spacing: 0.175em;
  font-size: 0.875em;
}
.showcase__form--btn:active {
  background-color: #cc2e0f;
}
@media screen and (min-width: 992px) {
  .showcase__form--btn {
    min-width: 122px;
  }
}

/*# sourceMappingURL=style.css.map */
