// __________ Mixins
@mixin fontFace($family, $src) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.woff') format('woff');
    }
}

@mixin transition($property) {
    transition: $property .4s;
}


// __________ Variables

// breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 992px;
$breakpoint-large: 1280px;

// colors
$text-color: #FFF;
$accent-color: #f05638;
$background-darkest: rgb(22, 46, 80);
$background-dark: rgb(48, 68, 139);
$background-light: rgb(72, 102, 193);
$background-lightest: rgb(81, 125, 216);



// __________ Global

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    color: $text-color;
    font-family: 'SegoeUI', sans-serif;
}


h1 {
    font-family: 'SegoeUI-Light', sans-serif;
    font-weight: lighter;
    line-height: 1.75rem;
    font-size: 1.5rem;

    @media screen and (min-width: $breakpoint-large) {
        font-size: 3rem;
        line-height: 3.65rem;
    }
}

p {
    color: rgba($text-color, $alpha: .87);
    opacity: .7;
    line-height: 1.5rem;

    @media screen and (min-width: $breakpoint-large) {
        font-size: 1.5rem;
        line-height: 2.1rem;
    }
}


.sr-only {
    display: block;
    width: 1px;
    height: 1px;
    visibility: hidden;
    overflow: hidden;
}

.capitalized {
    text-transform: uppercase;
}