@import 'config';

@include fontFace("SegoeUI", "../assets/Segoe/Regular");
@include fontFace("SegoeUI-Light", "../assets/Segoe/Light");
@include fontFace("SegoeUI-Bold", "../assets/Segoe/Bold");


// __________ Social Icons
.social {
    position: absolute;
    right: 40px;
    top: 40px;
    display: none;

    @media screen and (min-width: $breakpoint-small) {
        display: block;
    }
}

.social__icon {
    display: inline-block;
    width: 25px;
    margin-left: 20px;
}

.social__icon--path {
    @include transition(fill);
    fill: $text-color;

    &:hover {
        fill: darken($text-color, 25%);
    }
}

// __________ Showcase
.showcase {
    height: 100%;
    padding: 0 20px;
    text-align: center;
    background: $background-dark;
    background: linear-gradient(155deg, $background-darkest 0%, $background-dark 40%, $background-light 80%, $background-lightest 100%);



    @media screen and (min-width: $breakpoint-small) {
        display: flex;
        justify-content: center;
        padding-top: 74px;
        background: linear-gradient(90deg, $background-darkest 0%, $background-light 100%);
        background: linear-gradient(to right, $background-darkest 0%, $background-dark 60%, $background-light 100%);

    }

    @media screen and (min-width: $breakpoint-medium) {
        max-height: 760px;
    }
}

// Showcase Phone Images
.showcase__image {
    &--desktop {
        display: none;

        @media screen and (min-width: $breakpoint-small) {
            display: block;
            max-width: 30vw;
        }

        @media screen and (min-width: $breakpoint-medium) {
            display: block;
            max-width: unset;
        }
    }

    &--mobile {
        display: block;
        margin: 0 auto;

        @media screen and (min-width: $breakpoint-small) {
            display: none;
        }
    }
}

// Showcase Content
.showcase__content {
    max-width: 360px;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-small) {
        max-width: 600px;
        margin: 0;
        margin-left: 8vw;
        text-align: left;
    }

    @media screen and (min-width: $breakpoint-large) {
        margin-left: 167px;
    }
}

// Logo
.showcase__logo {
    width: 132px;
    margin: 40px auto 20px auto;

    @media screen and (min-width: $breakpoint-small) {
        margin-top: 90px;
        margin-bottom: 0;
    }
}


// Form
.showcase__form {
    display: flex;
    height: 45px;
    max-width: 280px;
    margin: 26px auto 0 auto;


    @media screen and (min-width: $breakpoint-small) {
        margin-left: 0;
    }

    @media screen and (min-width: $breakpoint-medium) {
        margin-top: 48px;
        max-width: 420px;
        height: 55px;
    }

}

.showcase__form--input {
    @include transition(background-color);
    display: block;
    width: 75%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    outline: none;
    height: 100%;
    padding: 0;
    padding-left: 20px;
    overflow: hidden;
    color: #9fa3a7;
    font-family: 'SegoeUI', sans-serif;
    font-size: 1em;

    &:focus {
        background-color: #9fa3a7;
        color: white;
    }


    @media screen and (min-width: $breakpoint-medium) {
        font-size: 1.25em;
    }
}

.showcase__form--btn {
    cursor: pointer; // presentational only, to be removed when the button is active
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
    min-width: 92px;
    background-color: $accent-color;
    color: $text-color;
    font-family: 'SegoeUI-Bold', sans-serif;
    letter-spacing: .175em;
    font-size: .875em;

    &:active {
        background-color: darken($color: $accent-color, $amount: 15%);
    }

    @media screen and (min-width: $breakpoint-medium) {
        min-width: 122px;
    }
}